@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    font-family: 'Gabriela', serif;
    background: #ffb5ee;
}

#language-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #3498db;
    border: none;
    cursor: pointer;
    z-index: 9999;
    border-radius: 5px;
}

#language-button a {
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    display: inherit;
    width: 70px;
    height: 30px;
    padding-top: 10px;
}

#language-button a:hover {
    background-color: #277dbf;
}

#contenedor_menu {
    display: none;
}

header #menu {
    display: none;
}

#menu #sub-menu ul {
    display: none;
}

#menu #sub-menu li {
    width: 100%;
    height: 70px;
    margin-left: 1px;
    background-color: #880094;
    opacity: 0.95;
    display: block;
    position: relative;
    top: 100px;
    border-bottom: 2px solid;
}

#menu #sub-menu ul li a {
    font-size: 5em;
    line-height: 75px;
}

#menu #sub-menu:hover ul {
    display: block;
}

#menu #sub-menu ul li:hover {
    background-color: #798BD3;
    transition: 0.5s;
}

#contenedor-menu-full {
    display: none;
}

header #menu-full {
    display: none;
}

#menu-full #sub-menu-full ul {
    display: none;
}

#menu-full #sub-menu-full li {
    width: 100%;
    height: 70px;
    margin-left: 3px;
    background-color: #880094;
    opacity: 0.95;
    display: block;
    position: relative;
    top: 100px;
    border-bottom: 2px solid;
}

#menu-full #sub-menu-full ul li a {
    font-size: 24px;
    line-height: 75px;
}

#menu-full #sub-menu-full:hover ul {
    display: block;
}

#menu-full #sub-menu-full ul li:hover {
    background-color: #798BD3;
    transition: 0.5s;
}

#checkbox {
    width: 20px;
    height: 20px;
    position: fixed;
    bottom: 62px;
    right: 46px;
    z-index: 9999;
    transition-duration: 0.4s;
}

#checkbox:checked+.menucell {
    display: block;
}

#showmenu {
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 40px;
    right: 20px;
    z-index: 99999;
    transition-duration: 0.4s;
}

#showmenu:hover {
    transform: rotate(145deg);
}

#menucell {
    position: fixed;
    width: 70%;
    height: 375px;
    background-color: #6235AC;
    left: 14%;
    top: 0px;
    z-index: 999;
    border-radius: 0 0 8px 8px;
    display: none;
}

#iomenu {
    position: absolute;
    width: 100%;
}

#menucell #iomenu h1 {
    height: 80px;
    font-size: 25px;
    text-align: center;
    border-bottom: #fff 3px solid;
    text-shadow: 2px 2px rgb(0, 0, 0, 0.2);
    position: relative;
    line-height: 85px;
    top: -16px;
    margin-bottom: 40px;
    background-color: #9919A1;
}

.iomenumovil img {
    width: 100%;
    cursor: pointer;
}

#iomenu ul {
    position: relative;
    top: -55px;
    width: 100%;
}

#iomenu ul li {
    width: 100%;
    height: auto;
    list-style: none;
    text-align: center;
    position: relative;
    transition-duration: 0.3s;
}

#iomenu ul li:hover {
    background-color: #798BD3;
}

#iomenu ul li a {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 55px;
    text-decoration: none;
    color: #000;
    line-height: 60px;
    border-bottom: solid #fff;
    border-radius: 0 0 8px 8px;
}

#iomenu #sub-menu-movil ul {
    width: 60%;
    position: relative;
    top: 0px;
    margin: 0 auto;
    display: none;
}

#iomenu #sub-menu-movil {
    background-color: transparent;
}

#iomenu #sub-menu-movil:hover ul {
    display: block;
}

#iomenu #sub-menu-movil ul li {
    background-color: #9919A1;
}

#iomenu #sub-menu-movil ul li:nth-child(2) {
    border-radius: 0 0 8px 8px;
}

#iomenu #sub-menu-movil ul li:hover {
    background-color: #798BD3;
}

#iomenu #sub-menu-movil ul li a {
    font-size: 1em;
    height: 55px;
    line-height: 60px;
}

#logo {
    width: 100%;
    height: auto;
    position: relative;
    top: 85px;
    margin-bottom: 215px;
}

#logo img {
    width: 100%;
    height: 365px;
}

div.cont_slide {
    width: 100%;
    height: 680px;
    margin: auto;
    overflow: hidden;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    box-shadow: 0px 0px 8px #000;
    background: #47ccfe;
}

div.cont_slide ul {
    display: flex;
    width: 600%;
    animation: 25s cambio infinite;
    animation-direction: alternate;
}

div.cont_slide ul li {
    list-style: none;
    width: 100%;
    height: 680px;
}

div.cont_slide ul li img {
    width: 100%;
    height: 100%;
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }

    22% {
        margin-left: 0;
    }

    24% {
        margin-left: -100%;
    }

    40% {
        margin-left: -100%;
    }

    42% {
        margin-left: -200%;
    }

    50% {
        margin-left: -200%;
    }

    52% {
        margin-left: -300%;
    }

    70% {
        margin-left: -300%;
    }

    72% {
        margin-left: -400%;
    }

    90% {
        margin-left: -400%;
    }

    92% {
        margin-left: -500%;
    }

    100% {
        margin-left: -500%;
    }
}

#slider {
    width: 100%;
    height: 2000px;
    position: relative;
    top: 160px;
}

.slide {
    width: 100%;
    height: 87%;
    font-family: 'Courgette', cursive;
    text-align: center;
    margin-bottom: 100px;
}

#home h3 {
    font-size: 3.5em;
}

#home p {
    font-size: 2em;
    margin: 50px 30px 0px 30px;
}

#home figure {
    width: 280px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    top: 20px;
    margin: 0px auto;
    box-shadow: 2px 2px 3px #000;
}

#home>figure>img {
    width: 105%;
    height: 370px;
    position: relative;
    top: -10px;
    left: -10px;
}

#home1 {
    width: 100%;
    height: 380px;
    position: relative;
    top: 100px;
}

#home1>figure>img {
    width: 105%;
    height: 370px;
    position: relative;
    top: -10px;
    left: -10px;
}

.slide1 {
    width: 100%;
    height: 80%;
    background: #6bb0f9;
    position: relative;
    top: -180px;
    padding-top: 20px;
}

#nosotros>h4 {
    text-align: center;
    font-size: 4em;
    font-weight: lighter;
    margin-bottom: 80px;
    font-family: 'Gabriela', serif;
}

#nosotros>p {
    text-align: center;
    font-size: 2em;
    margin: 0px 30px 55px 30px;
    font-family: 'Courgette', cursive;
    font-weight: normal;
}

.slide2 {
    width: 100%;
    height: auto;
    position: relative;
    top: 55px;
}

#servicios>h4 {
    text-align: center;
    font-size: 3.8em;
    font-weight: lighter;
    margin-bottom: 120px;
}

.slide2 .contenedor {
    width: 100%;
    height: 90%;
    position: relative;
    top: -50px;
    transition-duration: 0.3s;
}

.contenedor .sub-contenedor1,
.sub-contenedor2,
.sub-contenedor3,
.sub-contenedor4,
.sub-contenedor5,
.sub-contenedor6,
.sub-contenedor7,
.sub-contenedor8 {
    width: 100%;
    height: 0px;
    background: #73a7fe;
    overflow: hidden;
    transition-duration: 0.4s;
}

div.titulo1,
.titulo2,
.titulo3,
.titulo4,
.titulo5,
.titulo6,
.titulo7,
.titulo8 {
    display: inline-block;
    width: 100%;
    height: auto;
    border-bottom: 2px solid #424241;
}

div .titulo1 h3 {
    animation: list-jump 1s infinite;
}

@keyframes list-jump {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-12px);
    }

    100% {
        transform: translateY(0px);
    }
}

div h3 {
    font-size: 1.6em;
    margin-top: 12px;
    font-weight: lighter;
}

div.contenedor i {
    float: right;
    font-size: 1.7em;
    margin-top: -12px;
}

.contenido figure {
    width: 55%;
    height: 450px;
    float: left;
    margin-right: 10px;
    border-radius: 5px;
    overflow: hidden;
    border: #000 2px solid;
}

.contenido figure img {
    width: 100%;
    height: 100%;
}

div.contenido p {
    font-size: 1.2em;
    font-family: Courgette;
    margin-bottom: 15px;
    line-height: 35px;
}

div.contenedor .titulo1:hover~.sub-contenedor1 {
    height: 450px;
}

div.sub-contenedor1:hover {
    height: 450px;
}

div.contenedor .titulo2:hover~.sub-contenedor2 {
    height: 450px;
}

div.sub-contenedor2:hover {
    height: 450px;
}

div.contenedor .titulo3:hover~.sub-contenedor3 {
    height: 450px;
}

div.sub-contenedor3:hover {
    height: 450px;
}

div.contenedor .titulo4:hover~.sub-contenedor4 {
    height: 450px;
}

div.sub-contenedor4:hover {
    height: 450px;
}

div.contenedor .titulo5:hover~.sub-contenedor5 {
    height: 450px;
}

div.sub-contenedor5:hover {
    height: 450px;
}

div.contenedor .titulo6:hover~.sub-contenedor6 {
    height: 450px;
}

div.sub-contenedor6:hover {
    height: 450px;
}

div.contenedor .titulo7:hover~.sub-contenedor7 {
    height: 450px;
}

div.sub-contenedor7:hover {
    height: 450px;
}

div.contenedor .titulo8:hover~.sub-contenedor8 {
    height: 450px;
}

div.sub-contenedor8:hover {
    height: 450px;
}

#contenedor_esc {
    width: 100%;
    height: 660px;
    display: none;
    margin-left: 3px;
}

#contenedor_esc .contenido_esc {
    width: 24.5%;
    height: 325px;
    margin-top: -3px;
    margin-left: -3.9px;
    display: inline-block;
    overflow: hidden;
    border: 2.3px solid #fff;
    background: rgba(88, 195, 255, 0.8);
}

#contenedor_esc .contenido_esc figure {
    width: 100%;
    height: 325px;
    transition-duration: 0.3s;
}

#contenedor_esc .contenido_esc figure img {
    width: 100%;
    height: 100%;
}

#contenedor_esc .contenido_esc p {
    font-size: 1.3em;
    font-family: Courgette;
    text-align: center;
    color: #000;
    margin-top: -325px;
    margin-left: 4%;
    margin-right: 4%;
    transition-duration: 0.3s;
    line-height: 25px;
    display: none;
}

#contenedor_esc .contenedor_h3 {
    width: 100%;
    height: 75px;
    position: relative;
    top: -340px;
    overflow: hidden;
    transition-duration: 0.3s;
    opacity: 0;
}

.fondo {
    background: #e8e8e8;
}

.fondo1 {
    background: #d72d00;
}

.fondo2 {
    background: rgba(244, 174, 83, 0.8);
}

.fondo3 {
    background: #9f46aa;
}

.fondo4 {
    background: #fff;
}

.fondo5 {
    background: rgba(207, 207, 207, 0.85);
}

.fondo6 {
    background: #c4f6ff;
}

.fondo7 {
    background: rgba(0, 140, 255, 0.6);
}

#contenedor_esc .contenedor_h3 h3 {
    font-size: 1.5em;
    text-align: center;
    margin-top: 30px;
}

#contenedor_esc .contenido_esc figure:hover~div.contenedor_h3 {
    opacity: 1;
}

#contenedor_esc .contenido_esc figure:hover~p {
    display: block;
}

.contenido_esc figure:hover {
    transform: scale(1.5);
    opacity: 0;
}

.slide3 {
    width: 100%;
    height: 1800px;
    background: #6bb0f9;
    position: relative;
    top: 5px;
}

.slide3 h4 {
    font-size: 3.5em;
    text-align: center;
    font-weight: lighter;
}

.habilidades {
    width: 100%;
    height: 1660px;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.habilidades img {
    width: 280px;
    height: 280px;
}

.habilidades>div {
    position: relative;
}

.circular-progress-bar {
    position: relative;
    margin: 0 auto;
    transform: rotate(-90deg);
}

.progress-percentage,
.progress-text,
.habilidades>div>h6 {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 57%;
    transform: translate(-50%, -50%) rotate(90deg);
    text-align: center;
    padding: 0px 20px;
    color: #000;
    font-size: 65px;
    font-weight: lighter;
}

.progress-percentage {
    display: none;
}

.progress-text {
    left: 42%;
    color: #000;
    font-size: 28px;
}

.slide4 {
    width: 100%;
    height: 2923px;
    position: relative;
    top: 100px;
    font-family: Courgette;
    border-bottom: #000 2px solid;
    overflow: hidden;
}

.slide4 div {
    width: 100%;
    height: 50%;
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
}

.slide4 div i {
    font-size: 6.5em;
    color: #0075ff;
}

.slide4 div .icon-printer {
    animation: 1s parpadeo infinite;
}

.slide4 div .icon-gout {
    animation: 1s parpadeo1 infinite;
}

.slide4 div .icon-camion {
    animation: 1s parpadeo2 infinite;
}

.slide4 div .icon-cantidad {
    animation: 1s parpadeo3 infinite;
}

@keyframes parpadeo {
    10% {
        color: #00b2ff;
    }

    50% {
        color: #000;
    }
}

@keyframes parpadeo1 {
    20% {
        color: #00b2ff;
    }

    90% {
        color: #000;
    }
}

@keyframes parpadeo2 {
    10% {
        color: #00b2ff;
    }

    50% {
        color: #000;
    }
}

@keyframes parpadeo3 {
    20% {
        color: #00b2ff;
    }

    90% {
        color: #000;
    }
}

.slide4 div p {
    font-size: 1.7em;
    margin: 30px 15px 80px 15px;
}

.slide4 div figure {
    width: 100%;
    height: 635px;
}

.slide4 div figure img {
    width: 100%;
    height: 100%;
}

#logo-catalog {
    width: 100%;
    height: 245px;
    position: relative;
    top: 65px;
    overflow: hidden;
}

#logo-catalog img {
    width: 100%;
    height: 100%;
}

#catalog-container h2 {
    text-align: center;
    font-size: 30px;
    position: relative;
    top: 140px;
    font-weight: lighter;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

#catalog {
    position: relative;
    top: 200px;
    border-top: #000 1.5px solid;
    border-bottom: #000 1.5px solid;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 110px;
}

#catalog-container #catalog .catalog-card {
    width: 90%;
    height: auto;
    text-align: center;
    margin: 0 0 60px 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
    transition: transform 0.5s, box-shadow 0.5s;
    border-radius: 5px;
}

#catalog-container #catalog .catalog-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

#catalog-container #catalog .catalog-card h3 {
    width: 100%;
    height: 80px;
    font-size: 20px;
    background-color: #CEF3FF;
    margin-top: -5px;
    line-height: 40px;
    border-radius: 5px;
}

#catalog-container #catalog .catalog-card:nth-child(1) h3,
#catalog-container #catalog .catalog-card:nth-child(2) h3,
#catalog-container #catalog .catalog-card:nth-child(3) h3,
#catalog-container #catalog .catalog-card:nth-child(4) h3,
#catalog-container #catalog .catalog-card:nth-child(5) h3,
#catalog-container #catalog .catalog-card:nth-child(6) h3,
#catalog-container #catalog .catalog-card:nth-child(10) h3,
#catalog-container #catalog .catalog-card:nth-child(11) h3,
#catalog-container #catalog .catalog-card:nth-child(12) h3,
#catalog-container #catalog .catalog-card:nth-child(15) h3 {
    line-height: 80px;
}

#catalog-container #catalog .catalog-card img {
    width: 100%;
    height: 260px;
    border-radius: 5px;
}

#body-testimonials {
    height: 3900px;
    background-color: #6BB0F9;
}

#logo-testimonios {
    width: 100%;
    height: 245px;
    position: relative;
    top: 65px;
}

#logo-testimonios img {
    width: 100%;
    height: 100%;
}

#main-testimonials {
    margin-top: 155px;
}

#contenedor-testimonios {
    border-top: #000 2px solid;
}

#contenedor-testimonios h2 {
    font-weight: 3;
    font-family: 'Gabriela';
    font-size: 30px;
    text-shadow: 3px 4px 4px #838282;
    text-align: center;
    margin: 50px 0;
}

#contenedor-testimonios .contenido {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 60px;
    align-items: center;
    border-top: #000 2px solid;
    background-color: #ffb5ee;
    overflow: hidden;
}

#contenedor-testimonios .contenido .card {
    font-size: 16px;
    text-align: center;
    width: 310px;
    height: 500px;
    border-radius: 25px;
    margin: 40px 0px;
    box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.6), inset -3px 0 2px rgba(0, 0, 0, 0.6), inset 3px 0 2px rgba(0, 0, 0, 0.6);
    transition: transform 0.5s, box-shadow 0.5s;
    background-color: #6BB0F9;
}

#contenedor-testimonios .contenido .card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    overflow: hidden;
}

#contenedor-testimonios .contenido .card img {
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 100px;
    width: 103px;
    height: 103px;
    box-shadow: 0px 5px 6px -1px rgb(49, 49, 49);
    justify-content: center;
}

#main-testimonials {
    height: 3640px;
}

#main-testimonials p {
    text-align: center;
    font-family: 'courgette', 'arial';
    font-size: 20px;
}

#main-testimonials p:nth-child(4) {
    display: none;
}

#main-contact-container h3 {
    font-size: 1.6em;
    line-height: 80px;
    font-weight: lighter;
    text-align: center;
    margin-top: 0;
}

#main-testimonials #contenedor-testimonios hr {
    display: none;
}

#body-we {
    background-color: #6bb0f9;
}

#contenedorSomosPrincipal {
    position: relative;
    top: 120px;
    margin-bottom: 30px;
    border-top: #000 2px solid;
}

#contenedorSomosPrincipal .somos {
    text-align: center;
    padding-top: 25px;
    background-color: #ffb5ee;
    border-bottom: #000 2px solid;
}

#contenedorSomosPrincipal #contenidoSomos h2 {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

#contenedorSomosPrincipal .somos h2 {
    margin: 20px 0;
}

#contenedorSomosPrincipal #contenidoSomos p {
    font-family: 'courgette';
    font-size: 22px;
    margin: 0 5% 30px 5%;
}

#contenedorSomosPrincipal #contenidoSomos .goal-container {
    text-align: center;
    margin-top: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
    top: -25px;
    background-color: #6bb0f9;
}

#contenedorSomosPrincipal #contenidoSomos .goal-container h2 {
    font-size: 40px;
    margin-bottom: 25px;
}

#contenedorSomosPrincipal .contenedor-nosotros {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    background-color: #ffb5ee;
}

#contenedorSomosPrincipal .contenedor-nosotros h3 {
    font-family: 'courgette';
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    margin-bottom: 25px;
}

#contenedorSomosPrincipal .contenedor-nosotros img {
    margin-bottom: 30px;
    box-shadow: 2px 2px 6px #000;
}

#contenedorSomosPrincipal .contenedor-nosotros .luisa-container img {
    width: 255px;
    height: 255px;
    border-radius: 50%;
}

#contenedorSomosPrincipal .contenedor-nosotros .jeison-container img {
    width: 270px;
    height: 250px;
    border-radius: 50%;
}

#contact-form-container {
    width: 100%;
    height: 400px;
    position: relative;
}

#contact-form-container #contact_form {
    width: 100%;
    height: 100%;
    position: relative;
}

#contact-form-container #contact_form div {
    background: #6bb0f9;
    width: 100%;
    height: 80px;
    text-align: center;
}

#contact-form-container #contact_form form {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.3em;
}

#contact-form-container #contact_form form input {
    width: 90%;
    height: 40px;
    margin: 10px 0px;
    border-radius: 5px;
    border: none;
}

#contact-form-container #contact_form form #button {
    font-size: 1.2em;
    width: 60%;
    height: 55px;
    cursor: pointer;
    animation: 2.5s salto infinite;
}

@keyframes salto {

    0%,
    25%,
    75% {
        background: #000;
        color: #ffabf9;
    }

    50%,
    100% {
        color: #000;
        background: #fff;
    }
}

#contact-form-container #contact_form form textarea {
    max-width: 90%;
    max-height: 100px;
    min-width: 90%;
    min-height: 100px;
    margin: 10px 0px 30px 0px;
    border-radius: 5px;
    border: none;
}

#map-container {
    width: 100%;
    height: 582px;
    position: relative;
    top: 110px;
    margin-bottom: 24px;
    border-bottom: #000 2px solid;
}

#map-container div {
    width: 100%;
    height: 80px;
    background: #6bb0f9;
}

#map-container .map {
    width: 100%;
    height: 500px;
}

#map-container .map iframe {
    width: 100%;
    height: 100%;
}

#aviso-legal-body {
    height: 4200px;
}

#aviso-legal-container {
    border-bottom: #000 2px solid;
    margin-bottom: 170px;
}

#aviso-legal-container p {
    text-align: justify;
    font-size: 1em;
    margin: 0px 15px 25px 15px;
}

footer {
    width: 100%;
    height: 290px;
    position: relative;
    top: 80px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

footer .iconos {
    width: 50px;
    height: 45px;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

footer .iconos img {
    width: 100%;
    height: 100%;
}

footer .iconos:nth-child(2) {
    margin-top: 30px;
    grid-column: 3/4;
    grid-row: 1/2;
}

footer .iconos:nth-child(3) {
    margin-top: 10px;
    grid-column: 3/4;
    grid-row: 2/3;
}

footer h3 {
    font-size: 1.4em;
    letter-spacing: 1px;
    line-height: 35px;
    grid-column: 1/3;
    grid-row: 1/3;
    text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.8);
    font-weight: lighter;
    margin-top: 55px;
    margin-left: 30px;
}

footer a,
footer p {
    position: relative;
    margin: 0 auto;
    grid-column: 1/4;
    text-decoration: none;
    color: #000;
    font-family: Arial;
    font-size: 20px;
}

footer a:nth-child(5) {
    grid-row: 3/4;
    top: 25px;
}

footer a:nth-child(7) {
    grid-row: 4/5;
    top: 10px
}

footer p {
    grid-row: 5/6;
    top: 0px;
    font-family: 'courgette';
}

@media screen and (min-width:480px) {
    #menucell {
        width: 75%;
        height: 400px;
    }

    #iomenu ul li a {
        font-size: 1.2em;
        height: 60px;
        line-height: 60px;
    }

    #menucell #iomenu {
        position: relative;
        top: 0px;
    }

    #menucell #iomenu h1 {
        font-size: 30px;
        line-height: 75px;
        top: -20px;
    }

    #iomenu #sub-menu-movil ul li a {
        font-size: 1em;
        height: 55px;
        line-height: 60px;
    }

    .slide4 {
        height: 2730px;
    }
}

@media screen and (min-width:600px) {
    #menucell {
        height: 350px;
    }

    #iomenu ul li a {
        font-size: 1.3em;
        width: 100%;
        height: 50px;
        line-height: 50px;
    }

    #sub-menu-movil ul li {
        font-size: 1em;
    }

    #showmenu {
        width: 75px;
        height: 75px;
        position: fixed;
        bottom: 35px;
        right: 20px;
    }

    header h1 {
        height: 80px;
        font-size: 30px;
        line-height: 85px;
    }

    #logo {
        height: 600px;
    }

    #logo img {
        height: 80%;
        margin-top: 55px;
    }

    div.cont_slide {
        height: auto;
    }

    div.cont_slide ul li {
        height: 515;
    }

    #slider {
        top: 30px;
    }

    .slide {
        height: 65%;
        margin-bottom: 0px;
    }

    #home figure {
        width: 250px;
        height: 250px;
    }

    #home p {
        font-size: 1.9em;
        margin: 60px 30px 0px 30px;
    }

    #home>figure>img {
        height: 340px;
    }

    .slide1 {
        height: 50%;
        top: 0px;
    }

    #nosotros>h4 {
        font-size: 3.5em;
    }

    #nosotros>p {
        font-size: 1.8em;
        margin: 0px 25px 45px 25px;
    }

    .slide2 {
        top: 55px;
    }

    div h3 {
        font-size: 1.7em;
        margin-top: 57px;
    }

    div i {
        font-size: 2em;
        margin-top: -15px;
    }

    div.contenido p {
        font-size: 1.7em;
        line-height: 40px;
    }

    .contenido figure {
        height: 380px;
    }

    .contenido figure img {
        width: 100%;
        height: 100%;
    }

    div.contenedor .titulo1:hover~.sub-contenedor1 {
        height: 380px;
    }

    div.sub-contenedor1:hover {
        height: 380px;
    }

    div.contenedor .titulo2:hover~.sub-contenedor2 {
        height: 380px;
    }

    div.sub-contenedor2:hover {
        height: 380px;
    }

    div.contenedor .titulo3:hover~.sub-contenedor3 {
        height: 380px;
    }

    div.sub-contenedor3:hover {
        height: 380px;
    }

    div.contenedor .titulo4:hover~.sub-contenedor4 {
        height: 380px;
    }

    div.sub-contenedor4:hover {
        height: 380px;
    }

    div.contenedor .titulo5:hover~.sub-contenedor5 {
        height: 380px;
    }

    div.sub-contenedor5:hover {
        height: 380px;
    }

    div.contenedor .titulo6:hover~.sub-contenedor6 {
        height: 380px;
    }

    div.sub-contenedor6:hover {
        height: 380px;
    }

    div.contenedor .titulo7:hover~.sub-contenedor7 {
        height: 380px;
    }

    div.sub-contenedor7:hover {
        height: 380px;
    }

    div.contenedor .titulo8:hover~.sub-contenedor8 {
        height: 380px;
    }

    div.sub-contenedor8:hover {
        height: 380px;
    }

    .slide3 {
        height: 1860px;
        top: 5px;
    }

    .slide3 h4 {
        font-size: 4em;
    }

    .habilidades {
        height: 1820px;
        margin-top: 90px;
    }

    .slide4 {
        height: 1916px;
        position: relative;
        top: -65px;
    }

    .slide4 div {
        height: 50%;
    }

    .slide4 div i {
        font-size: 6em;
    }

    .slide4 div p {
        font-size: 1.5em;
        margin-bottom: 70px;
    }

    .slide4 div figure {
        height: 350px;
    }

    #catalog-body {
        height: 7940px;
    }

    #catalog {
        margin-bottom: 265px;
    }

    #catalog-container #catalog .catalog-card h3 {
        line-height: 80px;
    }

    #main-testimonials {
        height: 3790px;
    }

    #contact-body {
        height: 1435px;
    }

    #map-container {
        height: auto;
        margin-bottom: 178px;
    }

    #map-container .map {
        height: 550px;
    }

    #body-we {
        height: 2550px;
    }

    #contenedorSomosPrincipal {
        margin-bottom: 183px;
    }

    #aviso-legal-container p {
        font-size: 2em;
    }

    footer {
        position: relative;
        top: -70px;
    }
}

@media screen and (min-width:767px) {
    #menucell {
        width: 65%;
        height: 350px;
        left: 18%;
    }

    #slider {
        height: 1700px;
    }

    div.cont_slide {
        height: auto;
        margin-bottom: 100px;
    }

    .slide {
        height: 80%;
    }

    #home h3 {
        font-size: 3.5em;
    }

    #home p {
        font-size: 2em;
        margin: 40px 30px 0px 25px;
    }

    #home figure {
        width: 280px;
        height: 280px;
    }

    #home>figure>img {
        width: 300px;
        height: 300px;
    }

    #home1>figure>img {
        width: 290px;
        height: 410px;
        position: relative;
        top: -40px;
    }

    .slide1 {
        height: 60%;
    }

    #nosotros>h4 {
        font-size: 4em;
    }

    #nosotros>p {
        font-size: 2em;
        margin: 0px 30px 45px 30px;
    }

    #servicios h4 {
        font-size: 4em;
    }

    div h3 {
        font-size: 2em;
    }

    div i {
        font-size: 2em;
        margin-top: -12px;
    }

    div.contenido p {
        font-size: 1.8em;
        line-height: 35px;
    }

    .slide3 {
        height: 1860px;
    }

    .slide3 h4 {
        font-size: 4em;
    }

    .habilidades {
        height: 1910px;
    }

    .slide4 {
        height: 2157px;
        position: relative;
        top: -165px;
    }

    .slide4 div i {
        font-size: 7em;
    }

    .slide4 div p {
        font-size: 1.8em;
        margin-left: 10px;
        margin-right: 10px;
    }

    .slide4 div figure {
        height: 400px;
    }

    #logo-testimonios img {
        width: 90%;
        margin: 0 5%;
    }

    #catalog {
        margin-bottom: 365px;
    }

    #catalog-container #catalog .catalog-card {
        width: 75%;
        height: auto;
    }

    #catalog-container #catalog .catalog-card img {
        height: 385px;
    }

    #main-testimonials {
        height: 3860px;
    }

    #contenedorSomosPrincipal {
        margin-bottom: 275px;
    }

    #map-container {
        margin-bottom: 270px;
    }

    #map-container .map {
        height: 560px;
    }

    #main-contact-container h3 {
        font-size: 1.7em;
        line-height: 85px;
    }

    footer {
        position: relative;
        top: -165px;
    }
}

@media screen and (min-width:1024px) {
    #contenedor_full {
        width: 90%;
        height: 6195px;
        margin: auto;
        overflow: hidden;
        box-shadow: 0px 3px 6px #000;
    }

    #contenedor_menu {
        width: 90%;
        height: 100px;
        position: fixed;
        z-index: 999;
        display: block;
        background: linear-gradient(to right, #6eeeff, #880094);
    }

    header #menu {
        display: block;
        position: relative;
        height: 100%;
        width: 100%;
        justify-content: center;
    }

    header #menu ul {
        width: 100%;
        height: 100%;
        font-size: 1.8em;
        list-style: none;
    }

    header #menu ul li {
        width: 20%;
        height: 100%;
        text-align: center;
        position: relative;
        display: inline-block;
        margin: 0px -3px 0px -4px;
        transition-duration: 0.3s;
    }

    header #menu ul li a {
        color: #000;
        text-decoration: none;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        line-height: 100px;
        font-size: 0.7em;
    }

    #menu #sub-menu ul li a {
        font-size: 18px;
    }

    header #menu ul li:nth-child(1) {
        background: rgba(13, 209, 236, 0);
    }

    header #menu ul li:nth-child(1):hover {
        background: rgba(13, 209, 236, 1);
    }

    header #menu ul li:nth-child(2) {
        background: rgba(66, 127, 232, 0);
    }

    header #menu ul li:nth-child(2):hover {
        background: rgba(66, 127, 232, 1);
    }

    header #menu ul li:nth-child(3) {
        background: rgba(97, 79, 250, 0);
    }

    header #menu ul li:nth-child(3):hover {
        background: rgba(97, 79, 250, 1);
    }

    header #menu ul li:nth-child(4) {
        background: rgba(126, 47, 254, 0);
    }

    header #menu ul li:nth-child(4):hover {
        background: rgba(126, 47, 254, 1);
    }

    header #menu ul li:nth-child(5) {
        background: rgba(149, 0, 173, 0);
    }

    header #menu ul li:nth-child(5):hover {
        background: rgba(149, 0, 173, 1);
    }

    #contenedor-menu-full {
        width: 100%;
        height: 100px;
        position: fixed;
        z-index: 999;
        display: block;
        background: linear-gradient(to right, #6eeeff, #880094);
    }

    header #menu-full {
        display: block;
        position: relative;
        height: 100%;
        width: 100%;
        justify-content: center;
    }

    header #menu-full ul {
        width: 100%;
        height: 100%;
        font-size: 2em;
        list-style: none;
    }

    header #menu-full ul li {
        width: 20%;
        height: 100%;
        text-align: center;
        position: relative;
        display: inline-block;
        margin: 0px -3px 0px -5px;
        transition-duration: 0.3s;
    }

    header #menu-full ul li a {
        color: #000;
        text-decoration: none;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        line-height: 100px;
        font-size: 0.7em;
    }

    #menu-full #sub-menu-full ul li a {
        font-size: 18px;
    }

    header #menu-full ul li:nth-child(1) {
        background: rgba(13, 209, 236, 0);
    }

    header #menu-full ul li:nth-child(1):hover {
        background: rgba(13, 209, 236, 1);
    }

    header #menu-full ul li:nth-child(2) {
        background: rgba(66, 127, 232, 0);
    }

    header #menu-full ul li:nth-child(2):hover {
        background: rgba(66, 127, 232, 1);
    }

    header #menu-full ul li:nth-child(3) {
        background: rgba(97, 79, 250, 0);
    }

    header #menu-full ul li:nth-child(3):hover {
        background: rgba(97, 79, 250, 1);
    }

    header #menu-full ul li:nth-child(4) {
        background: rgba(126, 47, 254, 0);
    }

    header #menu-full ul li:nth-child(4):hover {
        background: rgba(126, 47, 254, 1);
    }

    header #menu-full ul li:nth-child(5) {
        background: rgba(149, 0, 173, 0);
    }

    header #menu-full ul li:nth-child(5):hover {
        background: rgba(149, 0, 173, 1);
    }

    #menucell {
        display: none;
    }

    #checkbox {
        display: none;
    }

    #showmenu {
        display: none;
    }

    #logo {
        width: 80%;
        height: 712px;
        margin: 0px auto;
        position: relative;
        top: 150px;
        margin-bottom: 0px;
    }

    div.cont_slide {
        width: 100%;
        height: auto;
        position: relative;
        top: 250px;
        box-shadow: 0px 0px 8px #000;
    }

    div.cont_slide ul li {
        height: 665px;
    }

    #slider {
        height: 1100px;
    }

    .slide {
        height: 85%;
        margin-top: 380px;
    }

    .slide1 {
        height: 80%;
    }

    #home>h3 {
        font-size: 3.5em;
        margin-left: -40%;
        font-weight: lighter;
    }

    #home>p {
        font-size: 1.7em;
        margin: 100px 55% 0px 20%;
        float: left;
    }

    #home>figure {
        width: 260px;
        height: 260px;
        position: relative;
        top: 40px;
        margin-left: 18.5%;
    }

    #home>figure>img {
        width: 320px;
        height: 320px;
    }

    #home1>h3 {
        font-size: 3.5em;
        margin-top: -420px;
        margin-left: 42%;
    }

    #home1>p {
        font-size: 1.7em;
        margin: -560px 18% 0px 60%;
        float: right;
    }

    #home1>figure {
        width: 260px;
        height: 260px;
        position: relative;
        top: 35px;
        margin-left: 58%;
        margin-bottom: 660px;
    }

    #home1>figure>img {
        width: 340px;
        height: 360px;
    }

    #nosotros>p {
        font-size: 1.8em;
        margin: 0px 60px 55px 60px;
    }

    .slide2 {
        top: 200px;
        height: 1000px;
    }

    div.contenedor {
        display: none;
    }

    #contenedor_esc {
        display: block;
    }

    .slide3 {
        height: 1845px;
        top: 50px;
    }

    .habilidades {
        height: 1946px;
    }

    .slide4 {
        height: 1500px;
        position: relative;
        top: -265px;
        overflow: hidden;
    }

    .slide4 div {
        text-align: inherit;
        overflow: hidden;
        margin: 0px;
    }

    .slide4 .info1 i {
        font-size: 6.5em;
        margin-left: 20%;
    }

    .slide4 .info1 p {
        font-size: 1.7em;
        margin: 10px 52% 60px 5%;
        text-align: justify;
    }

    .slide4 .info1 figure {
        width: 50%;
        height: 900px;
        float: right;
        margin-top: -670px;
    }

    .slide4 .info2 i {
        font-size: 6.5em;
        margin-right: 20%;
        float: right;
    }

    .slide4 .info2 p {
        font-size: 1.7em;
        margin: 10px 5% 80px 52%;
        float: right;
        text-align: justify;
    }

    .slide4 .info2 figure {
        width: 50%;
        height: 1000px;
        float: left;
        margin-top: -900px;
    }

    #catalog-body {
        height: 3670px;
    }

    #logo-catalog {
        display: none;
    }

    #catalog-container h2 {
        font-size: 35px;
        top: 150px;
    }

    #catalog {
        flex-direction: inherit;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 465px;
    }

    #catalog-container #catalog .catalog-card {
        width: calc(33.3% - 20px);
        height: auto;
    }

    #catalog-container #catalog .catalog-card h3 {
        font-size: 22px;
    }

    #catalog-container #catalog .catalog-card:nth-child(2) h3,
    #catalog-container #catalog .catalog-card:nth-child(3) h3,
    #catalog-container #catalog .catalog-card:nth-child(5) h3,
    #catalog-container #catalog .catalog-card:nth-child(6) h3,
    #catalog-container #catalog .catalog-card:nth-child(7) h3,
    #catalog-container #catalog .catalog-card:nth-child(8) h3,
    #catalog-container #catalog .catalog-card:nth-child(9) h3,
    #catalog-container #catalog .catalog-card:nth-child(11) h3,
    #catalog-container #catalog .catalog-card:nth-child(12) h3,
    #catalog-container #catalog .catalog-card:nth-child(13) h3,
    #catalog-container #catalog .catalog-card:nth-child(14) h3,
    #catalog-container #catalog .catalog-card:nth-child(16) h3,
    #catalog-container #catalog .catalog-card:nth-child(17) h3,
    #catalog-container #catalog .catalog-card:nth-child(18) h3 {
        line-height: 40px;
    }

    #body-testimonials {
        height: 1000px;
        background-color: #ffb5ee;
    }

    #logo-testimonios {
        display: none;
    }

    #main-testimonials #contenedor-testimonios hr {
        margin-top: 20px;
        border: #000 1px solid;
        display: block;
    }

    #main-testimonials {
        height: 1740px;
        margin-top: 0;
    }

    #contenedor-testimonios {
        position: relative;
        top: 98px;
    }

    #main-testimonials p:nth-child(2) {
        display: none;
    }

    #main-testimonials p:nth-child(4) {
        font-size: 25px;
        display: block;
    }

    #main-testimonials #contenedor {
        margin-top: 0;
    }

    #main-testimonials #contenedor-testimonios .contenido {
        justify-content: space-around;
        flex-direction: inherit;
    }

    #main-contact-container h3 {
        font-size: 1.9em;
    }

    #contact-form-container {
        position: relative;
        top: 100px;
    }

    #contact-form-container #contact_form form input {
        width: 80%;
    }

    #contact-form-container #contact_form form #button {
        font-size: 1.5em;
        width: 35%;
        height: 55px;
        transition-duration: 0.3s;
        animation: none;
    }

    #contact-form-container #contact_form form textarea {
        max-width: 80%;
        min-width: 80%;
    }

    #contact-form-container #contact_form form #button:hover {
        background: #000000;
        color: #ebc6ff;
    }

    #map-container {
        position: relative;
        top: 210px;
    }

    #map-container .map {
        height: 630px;
    }

    #map-container {
        margin-bottom: 480px;
    }

    #body-we {
        height: 1815px;
    }

    #contenedorSomosPrincipal {
        top: 100px;
        margin-bottom: 370px;
    }

    #contenedorSomosPrincipal #contenidoSomos h2 {
        font-size: 2.2em;
    }

    #contenedorSomosPrincipal #contenidoSomos p {
        font-size: 26px;
    }

    #contenedorSomosPrincipal #contenidoSomos .goal-container {
        display: flex;
        justify-content: space-between;
    }

    #contenedorSomosPrincipal .contenedor-nosotros {
        display: flex;
        justify-content: space-between;
        padding-top: 0;
    }

    #contenedorSomosPrincipal .contenedor-nosotros div {
        flex: 0 0 calc(50% - 10px);
    }

    #contenedorSomosPrincipal .contenedor-nosotros h3 {
        font-size: 3em;
    }

    #aviso-legal-container {
        margin-bottom: 270px;
    }

    footer {
        height: 300px;
        text-align: center;
        top: -277px;
    }

    footer .iconos {
        width: 57px;
        height: 47px;
        position: relative;
    }

    footer .iconos img {
        width: 100%;
        height: 100%;
    }

    footer .iconos:nth-child(2) {
        grid-column: 2/3;
        grid-row: 3/4;
        left: -100px;
        margin-top: 0;
    }

    footer .iconos:nth-child(3) {
        grid-column: 2/3;
        grid-row: 3/4;
        right: -120px;
        margin-top: 0;
    }

    footer h3 {
        grid-column: 1/4;
        grid-row: 1/2;
        line-height: 6px;
        margin-top: 40px;
        margin-left: 0px;
    }

    footer a,
    footer p {
        position: relative;
        grid-column: 2/3;
        text-decoration: none;
        color: #000;
        font-family: Arial;
        font-size: 20px;
    }

    footer a:nth-child(5) {
        grid-row: 4/5;
    }

    footer a:nth-child(7) {
        grid-row: 5/6;
    }

    footer p {
        grid-column: 1/4;
        grid-row: 6/7;
        font-family: 'courgette';
    }
}

@media screen and (min-width:1200px) {
    #contenedor_full {
        height: 6400px;
        overflow: inherit;
    }

    header #menu ul li a {
        font-size: 0.7em;
    }

    #menu #sub-menu ul li a {
        font-size: 0.4em;
    }

    #logo {
        width: 65%;
        position: relative;
        top: 150px;
    }

    div.cont_slide ul li {
        height: 860px;
    }

    .slide1 {
        height: 75%;
    }

    .slide2 {
        position: relative;
        top: 200px;
    }

    #home>p {
        margin: 100px 57% 0px 17%;
        line-height: 35px;
    }

    #home>figure {
        margin-left: 22%;
    }

    #home1>p {
        margin: -570px 18% 0px 60%;
        line-height: 35px;
    }

    #home1>figure {
        margin-left: 63%;
    }

    #home1>figure img {
        position: relative;
        left: -40px;
    }

    #nosotros>p {
        font-size: 2em;
        margin: 0px 70px 55px 70px;
    }

    #contenedor_esc {
        margin: 0 0.5%;
    }

    #contenedor_esc .contenido_esc {
        width: 24.6%;
    }

    #contenedor_esc .contenedor_h3 h3 {
        font-size: 1.8em;
    }

    #contenedor_esc .contenido_esc p {
        font-size: 1.7em;
        line-height: 26px;
    }

    #contenedor_esc .contenido_esc:nth-child(4) {
        font-size: 0.9em;
    }

    .slide3 {
        top: 50px;
    }

    .habilidades {
        height: 1940px;
    }

    .slide4 div {
        margin-top: 6px;
    }

    .slide4 .info1 i {
        margin-left: 22%;
    }

    .slide4 .info1 p {
        font-size: 2em;
    }

    .slide4 .info1 figure {
        height: 900px;
        margin-top: -710px;
    }

    .slide4 .info2 i {
        font-size: 7em;
        margin-right: 22%;
    }

    .slide4 .info2 p {
        font-size: 2em;
        margin: 10px 5% 90px 52%;
    }

    .slide4 .info2 figure {
        height: 1000px;
        margin-top: -900px;
    }

    #catalog-container #catalog .catalog-card {
        width: calc(29.3% - 20px);
    }

    #catalog-container #catalog .catalog-card:nth-child(2) h3,
    #catalog-container #catalog .catalog-card:nth-child(3) h3,
    #catalog-container #catalog .catalog-card:nth-child(11) h3,
    #catalog-container #catalog .catalog-card:nth-child(12) h3 {
        line-height: 40px;
    }

    #main-testimonials {
        height: auto;
        margin-bottom: 360px;
    }

    #main-testimonials #contenedor-testimonios .contenido {
        justify-content: space-between;
        flex-direction: inherit;
        flex-wrap: wrap;
    }

    #main-testimonials #contenedor-testimonios .contenido .card {
        width: calc(27.3% - 20px);
    }

    #main-contact-container h3 {
        font-size: 2em;
    }

    #contact-form-container {
        height: 420px;
    }

    #contact-form-container #contact_form form input {
        width: 60%;
    }

    #contact-form-container #contact_form form #button {
        font-size: 1.3em;
        width: 30%;
        margin: 0px 5%;
    }

    #contact-form-container #contact_form form textarea {
        max-width: 60%;
        min-width: 60%;
        max-height: 120px;
        min-height: 120px;
    }

    #body-we {
        height: 1464px;
    }

    footer {
        top: -265px;
    }
}